.footer{
  background-color: #304055;
  height: 150px;
  .container{
    img{
      width: 50px;
    }
    .copyrights{
      p{
        font-size: 18px;
        color: #7c8898;
        font-weight: 500;
      }
    }
  }
}
